# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo

# 虚拟环境
venv/
.venv/


# =====================
# 数据库
# =====================

*.db
*.sqlite
*.sqlite3


# =====================
# 音频文件
# =====================

*.mp3
*.wav


# =====================
# AI模型文件
# =====================

*.pth
*.pt
*.bin


# =====================
# 临时文件
# =====================

*.log
*.tmp


# =====================
# IDE
# =====================

.vscode/
.idea/